<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>AutoTweet</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
	<link rel="stylesheet" type="text/css" href="/styles/index.css"/>
</head>
<body>

<div class="container">
  <div class="row">					<!-- Used to utilize the bootstrap grid system -->
	<div class="col-sm-1"></div>    <!-- Empty column used to center the jumbotron -->
	  <!--div class="col-sm-10">        <!-- Jumbotron uses 6/12th of width of window -->
        <div class="jumbotron text-center">

          <img src="/images/TieLarge.png" alt="Automated Twitter Manager" style="width:128px;height:128px;">
		  <h2><span class=""></span> Welcome to the Automated Twitter Manager!</h2>
          <p><br>The Automated Twitter Manager is a solution for small businesses to maintain a social media presence, via uploading tweet databases to our software.</p>
		  <p>Our hope is that by using our tool, small businesses will not need dedicated staff for social media.<br> </p>
          <a href="/login" class="btn btn-default"><span class="fa fa-user" style="margin-right: 6px;"></span>Sign in</a>
          <a href="/signup" class="btn btn-default"><span class="fa fa-user" style="margin-right: 6px;"></span>Sign up</a>

        </div>
	  <!--/div-->
    </div>
</div>

</body>
</html>
