<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>AutoTweet</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/profile">Home</a></li>
                    <li class="active"><a href="">Post To Twitter<span class="sr-only">(current)</span></a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
            </nav>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-twitter"></span> Post to Twitter</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

<div class="row">
  
  <!-- https://v4-alpha.getbootstrap.com/components/forms/#defining-states -->
  <form>
    <div class="form-group row has-success">
      <label for="inputHorizontalSuccess" class="col-sm-2 col-form-label">Manual Tweet</label>
      <div class="col-sm-10">
        <input type="email" class="form-control form-control-success" id="inputHorizontalSuccess" placeholder="Enter your tweet in here">
        <div class="form-control-feedback">Possible success message if format OK.</div>
      </div>
    </div>
  </form>
</div>
</body>
</html>