<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>AutoTweet</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
            <nav class="navbar navbar-inverse" role="navigation" style="">
              <ul class="nav navbar-nav navbar-left">
                  <li><img src="/images/TieSmall.png" alt="Automated Twitter Manager" style="width:48px;height:48px;"></img></li>
              </ul>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/post">Post To Twitter</a></li>
                    <li><a href="/settings">Settings</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" style="">
                  <li><a href="/logout"><span class="fa fa-user" style="margin-right: 6px;"></span>Logout</a></li>
                </ul>
            </nav>

<div class="container">

    <div class="page-header text-center">

        <h1><img src="/images/TieLarge.png" alt="Automated Twitter Manager" style="width:128px;height:128px;"></img></h1>
        <h2><strong>Welcome Back! <%= user.local.email %></h2>
          <p>To post a tweet right now simply select Post To Twitter from the navigation bar on top</p>
          <p>To make changes to your account or database select settings</p>
    </div>

    <div class="row">




    </div>

</div>
</body>
</html>
