<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Team1107</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li><a href="/profile">Home</a></li>
                    <li><a href="/post">Post To Twitter</a></li>
                    <li class="active"><a href="">Settings<span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>

<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-cog"></span>Settings</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span><%= user.local.email %></h3>
                    <!-- Need to add twitter account and password to database and display-->
                    <p>
                        <strong>Twitter Account</strong>: <%= user.local.email %><br>
                        <strong>Twitter Account Password</strong>: <%= user.local.password %>
                    </p>

            </div>

            <div class="col-sm-12" style="height:50px;"></div>

            <form method="post" action="/saveTwitterAccount">
              <div class="form-group row">
                <label for="categoryInput" class="col-sm-2 col-form-label col-form-label-lg">Twitter Account</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control form-control-lg" id="categoryInput" name="TwitterAccountInput"
              placeholder="Twitter Username">
                </div>
              <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>

            <div class="col-sm-12" style="height:50px;"></div>

            <form method="post" action="/saveTwitterPassword">
              <div class="form-group row">
                <label for="categoryInput" class="col-sm-2 col-form-label col-form-label-lg">Twitter Password</label>
                <div class="col-sm-4">
                  <input type="text" class="form-control form-control-lg" id="categoryInput" name="TwitterPasswordInput"
              placeholder="Twitter Password">
                </div>
              <div class="col-sm-1">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>

        </div>

    </div>

</div>
</body>
</html>
