<html>

<head>
    <title>ERROR 404!</title>
    <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="page_theme.css"/>

</head>

<body>
    <div>
        <div>
            <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
                    <li><a href="/post">Post To Twitter</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            </nav>
        </div>
        <br/>
        <div class="jumbotron">
            <p>
                Something went wrong.<a href="/">E.T. Phone-home.</a>
            </p>
        </div>
    </div>
</body>
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->

</html>
