<html>
<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div>
  <div>
  <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
         <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/post">Post To Twitter</a></li>
        <li><a href="/settings">Settings</a></li>
        <li class="active"><a href="/about">About us<span class="sr-only">(current)</span></a></li>
        <li><a href="/login">Log In</a></li>
</nav>
</div>
  <br/>
  <div class="jumbotron">
  <p>
    The motivation for APPNAME came to one of our group members while working in a scooter shop.  One of his many tasks was managing the social media of the shop's site, which distracted him from the rest of his duties.  Keeping the shop's social media updated was important, but tweeting interesting facts every hour was lowering his productivity.  What if many of the tasks regarding updating social media could be automatic?
    Thus, APPNAME was born.  It's designed to automate many tasks regarding...
  </p>
</div>
  </div>
</body>
</html>
