<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="page_theme.css"/>
  <link rel="stylesheet" type="text/css" href="login.css"/>
  <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css"/>
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
</head>
<body>
  <div>
    <div>
      <nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/post">Post To Twitter</a></li>
          <li><a href="/settings">Settings</a></li>
          <li class="active"><a href="/login">Log In<span class="sr-only">(current)</span></a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="container">
      <form class="form-signin round" method="post" action="/login">
        <div align="center">
          <h2 class="form-signin-heading">Please Sign In</h2>
        </div>
        <div class="row">
          <div style="margin-bottom: .5em" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="id_login" name="login" class="sr-only">Username</label>
            <input id="id_login" type="username" style="width:100%" name="username" class="form-control" placeholder="Username" required autofocus>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <label for="id_password" class="sr-only">Password</label>
            <input id="id_password" type="password" style="width:100%" name="password" class="form-control" placeholder="Password" required>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div>
              <a class="button secondaryAction" href="{% url 'account_reset_password' %}"></a>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </div>
          </div>
        </form>
    </div>
</body>
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>-->
</html>
